<head>
  <!-- Rendering Directives -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Content Security Policy -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'">

  <!-- Title, Description -->
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 150 | escape }}">

  <!-- Content Links (CSS, canonical, etc.) -->
  <link rel="stylesheet" href="{{ "/assets/vendor/bulma/bulma.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/nn.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  {% if site.favicon %}
  <!-- Favicon -->
  <link rel="icon" href="{{ site.favicon | escape }}">
  {% endif %}

  {% if site.license_file %}
  <!-- Site License -->
  <link rel="license" href="{{ site.license_file | escape }}">
  {% endif %}
</head>
