<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            {% if site.logo %}
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        {% asset "{{ site.logo }}" alt="{{ site.logo_alt }}" %}
                    </div>
                    <div class="container">
            {% endif %}
                    <h1 class="title">
                        {{ site.title | escape }}
                    </h1>
                    <h2 class="subtitle">
                        {{ site.description | escape }}
                    </h2>
            {% if site.logo %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
