<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Title</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.posts %}
            <tr>
                <td>{{ post.date | date: "%Y-%m-%d" }}</td>
                <td>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>
                </td>
                <td>
                    {% include components/gen-badge.html
                        list=post.categories
                        prepend_url="/category/"
                        class="is-info" %}
                </td>
                <td>
                    {% include components/gen-badge.html
                        list=post.tags
                        prepend_url="/tags/"
                        class="is-light" %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
