<!DOCTYPE html>
<html class="has-navbar-fixed-top"
      lang="{{ page.lang | default: site.lang | default: 'en'}}">
{% include head.html %}
<body>
    {% include header.html %}

    {% if layout.hero %}
        {% include components/hero.html %}
    {% endif %}

    <section class="section">
        <div class="container">
            {% if layout.menu %}
            <div class="columns">
                <div class="column is-narrow">
                    {% include components/menu.html %}
                </div>
                <div class="column">
            {% endif %}
                    <main class="page-content" aria-label="Content">
                        <div class="wrapper">
                            {{ content }}
                        </div>
                    </main>
            {% if layout.menu %}
                </div>
            </div>
            {% endif %}
        </div>
    </section>

    {% include footer.html %}
</body>
</html>
